@font-face {
    font-family: HelveticaNeue;
    font-weight: 100;
    src: url(../fonts/HelveticaNeueLTPro-Th.woff2);
}

@font-face {
    font-family: HelveticaNeue;
    font-weight: 200;
    src: url(../fonts/HelveticaNeueLTPro-Lt.woff2);
}

@font-face {
    font-family: HelveticaNeue;
    font-weight: 300;
    src: url(../fonts/HelveticaNeueLTPro-Roman.woff2);
}

@font-face {
    font-family: HelveticaNeue;
    font-weight: 400;
    src: url(../fonts/HelveticaNeueLTPro-Md.woff2);
}