html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.anim{
  opacity: 0;
  transition: all 250ms ease-out;
}

.in {
  opacity: 1;
}

.animated-page-wrapper {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Page-Head{
  position: absolute;
  color: white;
  font-family: 'VCR OSD Mono';
  margin-top: 0;
}